/* PLAN CSS FILE */
/*
    Fonts
    Main styles of the page : page width, page background color, flexbox primary blocs alignements, default font
    Header
    Best movie
    Movies categories (best, 1,2,3)
    Buttons
    Modal Window
*/


/*_______________________________________________________________________________________________________________/*
/* FONTS */

/*Proof of concept*/
@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('polices/lane-narrow_regular_macroman/LANENAR_-webfont.eot');
    src: url('polices/lane-narrow_regular_macroman/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/lane-narrow_regular_macroman/LANENAR_-webfont.woff2') format('woff2'),
         url('polices/lane-narrow_regular_macroman/LANENAR_-webfont.woff') format('woff'),
         url('polices/lane-narrow_regular_macroman/LANENAR_-webfont.ttf') format('truetype'),
         url('polices/lane-narrow_regular_macroman/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*_______________________________________________________________________________________________________________/*
/* MAIN STYLES OF THE PAGE */

/* Background color and size */
body
{
    background-color: rgb(10,10,10);
    background-size: 100%;
}


/* Alignement of primary blocs of the page */
#blocPage
{
    display: flex;

    /*Principal axis definition : flex-direction : row/ column/ row-reverse/ column-reverse*/
    flex-direction: column;

    /*-Allignement*/
    /*--Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: center;
    /*--Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;

    width: 100%;
    padding: 0%;
    margin: 0%;
}


header, .best-movie-container, .higher-rated-movies-section, .movies-section
{
    width: 100%;
    margin: 0px;
    padding: 0px; 

    /*Display borders for testing*/
    /*border-width: 10 px;*/
    /*border-color:  rgb(100,100,100);*/
    /*border-style: solid*/
}


/*Default font*/
*{
    font-family: georgia, sans-serif; /* 'lane_-_narrowregular' deleted --> bug in console*/
    color: rgb(255, 255, 255);
}


/*_______________________________________________________________________________________________________________/*
/*HEADER*/

header
{
    display: flex;

    /*Principal axis definition : flex-direction : row/ column/ row-reverse/ column-reverse*/
    flex-direction: row;

    /*-Allignement*/
    /*--Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-around;
    /*--Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center;

    width: 100%;
    background-color: rgb(10, 10, 10);
}


/*_______________________________________________________________________________________________________________/*
/*BEST MOVIE*/

.best-movie-container
{
    display: flex;
    /*Principal axis definition : flex-direction : row/ column/ row-reverse/ column-reverse*/
    flex-direction: row;

    /*-Allignement*/
    /*--Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-between;
    /*--Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: flex-end; /* ou  baseline ? */

    /*Margins for the better display of the text and the picture*/
    width: 82%;
    margin-top: 2%;

    padding-left: 3%;
    padding-right: 15%;
    padding-top: 0%;
    padding-bottom: 0%;

    background-color: rgb(30, 30, 30);
    background-image: linear-gradient(rgb(10,10,10),  rgb(50,50,50), rgb(10,10,10));

    /*cancelled: finaly the picture of the best movie is an img balise : easier interaction with JS*/
    /*background-image: url("./image_de_film_factice_higher_rated_movie.png");*/
    /*background-attachment: scroll;*/
    /*background-repeat: no-repeat;*/
    /*background-position: right top;*/
    /*opacity: 75%;*/

    border-width: 3px;
    border-color:  rgb(50,50,50);
    border-style: solid;

    height: 400px; /*will be used in JS*/
}


.best-movie-container__movie-presentation-and-access
{
    display: flex;

    /*Principal axis definition : flex-direction : row/ column/ row-reverse/ column-reverse*/
    flex-direction: column; 
    /*-Allignement*/
    /*--Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-between;
    /*--Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: flex-start; /* ou  baseline ? */

    /*Display borders for testing*/
    /*border-width: 10 px;
    border-color:  rgb(255, 196, 0);
    border-style: solid;*/
}


#bestMovie_Title
{
    font-size: 4em;
    margin-bottom: 1%;
}


#bestMovie_Summary
{
    font-size: 1.4em;
}


#bestMovie_Picture
{
    height: 400px; /*will be used in JS ; 400px is from the size of the container*/
}


/*_______________________________________________________________________________________________________________/*
/*MOVIES CATEGORIES*/

.movies-section
{
    margin-top: 50px;
}


.movies-section h1
{
    text-align: center;
    margin-top: 4%;    
    margin-bottom: 2%;
}


.movies-section__button_and_pictures
{
    display: flex;

    /*Principal axis definition : flex-direction : row/ column/ row-reverse/ column-reverse*/
    flex-direction: row;

    /*-Allignement*/
    /*--Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-between;
    /*--Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: center; /* ou  baseline ? */

    width: 100%;

    background-color: rgb(61, 61, 61);

    /*Display borders for testing*/
    /*border-width: 10 px;
    border-color:  rgb(0, 255, 0);
    border-style: solid;*/

    background-image: linear-gradient(to right, rgb(30,30,30), rgb(10,10,10), rgb(10,10,10), rgb(10,10,10),  
                                                rgb(10,10,10),rgb(10,10,10), rgb(10,10,10), rgb(30,30,30));
}


/*_______________________________________________________________________________________________________________/*
/*BUTTONS*/

.button-left, .button-right
{
    width: 10%; /*(100-80)/ 2*/

    /*Display borders for testing*/
    /*border-width: 10 px;
    border-color:  rgb(212, 0, 255);
    border-style: solid;*/
}


.button-left-picture
{
    width: 50%;
}


.button-right-picture
{
    width: 50%;
}


.movies-pictures-container
{
    width: 80%; /*100/6=16.66*/

    display: flex;

    /*Principal axis definition : flex-direction : row/ column/ row-reverse/ column-reverse*/
    flex-direction: row;

    /*-Allignement*/
    /*--Principal axis : justify-content : flex-start/ flex-end/ center/ space-between/ space-around*/
    justify-content: space-between;
    /*--Secondary axis : align-items : stretch /flex-start /flex-end /center/baseline*/
    align-items: flex-start; /* ou  baseline ? */

    width: 50%; 

    background-color: rgb(10,10,10);

    border-width: 5px;
    border-color:  rgb(10,10,10);
    border-style: solid;

    flex-wrap: wrap;
}


#bestMovieModalButton{
    color: rgb(255, 255, 255);
    background-color: rgb(10,10,10);

    border-width: 10px;
    border-color:  rgb(10,10,10);
    border-style: solid;

    font-size: 1.2em;
    margin-bottom: 3%;
}


#bestMovieModalButton:hover{
    font-weight: bold;
}


/*_______________________________________________________________________________________________________________/*
/*MODAL WINDOW*/
/*Source : https://www.w3schools.com/howto/howto_css_modals.asp*/

/* The Modal (background) */
.modalWindow
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}


/* Modal Content/Box */
    .modal-content , .CarrousselModal-content
    {
    background-color: rgb(30, 30, 30);
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(140, 140, 140);
    width: 80%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.closeTheModalSpan, .CarrousselCloseTheModalSpan
{
    color: rgb(255, 150, 150);
    float: right;
    font-size: 40px;
    font-weight: bold;
}


.closeTheModalSpan:hover,
.closeTheModalSpan:focus, 
.CarrousselCloseTheModalSpan:hover,
.CarrousselCloseTheModalSpan:focus
{
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
} 
